.content {
  position: relative;
  padding-top: 2rem;
  margin-top: -7px;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  &--inner {
    padding-top: 0.5rem;
    @media (min-width: $mobile-size-land) {
      margin-top: 2rem;
      padding-top: 0;
    }

    @media (min-width: $desktop-large-size) {
      margin-top: 0;
    }
  }


  &::before {
    content: "";
    position: absolute;
    background-image: url('../img/fon2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
    z-index: -1;
  }

  @media (min-width: $mobile-size-land) {
    margin-left: 0;
    margin-right: 0;
  }

  &__uzor {

    @media (min-width: $mobile-size-land) {
      margin-top: 3rem;
      margin-bottom: 3rem;
      display: block;
      background-repeat: repeat-x;
      height: 190px;
      background-image: url('../img/uzor-white-tablet.png');
    }


    @media (min-width: $desktop-large-size) {
      background-image: url('../img/uzor-white.png');
      height: 377px;
    }

  }

}
