.detail {
  &__row {

    @media (min-width: $mobile-size-land) {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 3rem;
      padding-top: 3rem;
    }
  }

  &__block {
    @media (min-width: $mobile-size-land) {
      flex: 0 0 50%;
      max-width: 50%;
      margin-bottom: 0;
      padding-right: 15px;
      padding-left: 15px;

      &--title {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &--description {
        padding-left: 2rem;
        padding-right: 2rem;
      }

    }
  }

  &__text {
    font-size: 1.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 500;
    & p {
      margin-bottom: 1rem;
    }
  }

  &__title {
    color: $primary-color;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    @media (min-width: $desktop-size) {
      font-size: 3rem;
    }
  }

  &__category {
    color: rgba(191, 52, 52, 0.6);
    font-size: 1rem;
    @media (min-width: $desktop-size) {
      font-size: 1.5rem;
    }
  }


  &__foto {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
  }

}
