.map {
  &__map-container {
    min-height: 250px;
    @media (min-width: $desktop-large-size) {
      min-height: 450px;
    }
    background-image: url('../img/map.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__wrapper {
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;

    @media (min-width: $desktop-large-size) {
      min-height: 450px;
    }
  }

}

.leaflet-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.map-container {
  position: relative;
  min-height: 300px;
  @media (min-width: $desktop-size) {
    min-height: 800px;

  }
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 1;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  background-color: rgba(115, 114, 114, .7)!important;
}

.ReactModal__Body--open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}
