.marked-list {
  padding-top: 3rem;
  padding-bottom: 3rem;

  &__row {
    display: flex;
    margin-bottom: 3rem;
  }

  &__block-icon {
    flex: 0 0 15%;
    max-width: 15%;
    padding-left: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

    & img {
      width: 100%;
      height: auto;
    }
  }

  &__block {
    flex: 0 0 85%;
    max-width: 85%;
    padding-left: 4rem;
    padding-right: 2rem;
    font-size: 1.8rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    flex-direction: column;

  }
}
