.navigation {
  display: block;

  background-color: $tertiary-color;
  margin-left: -15px;
  margin-right: -15px;
  padding: 5px 15px;

  @media (min-width: $mobile-size-land) {
    padding: 1rem 0;
    background-color: transparent;
    margin: 0;
    border-bottom: 4px solid $tertiary-color;
    &.navigation--inner {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @media (min-width: $tablet-size-land) {
    padding: 1rem 5rem;
  }

  &__list-wrapper {

    max-height: 0;
    overflow-y: hidden;
    margin-bottom: 0;
    transition: all 0.7s;


    @media (min-width: $mobile-size-land) {
      display:flex;
      justify-content: space-between;
      width: 100%;
      padding: 0;
      margin-top: 0;
      max-height: 1000px;
      margin-bottom: 0;

      &.navigation__list-wrapper--inner {
        justify-content: center;
      }
    }

    &.opened {
      margin-top: 1rem;
      max-height: 1000px;
      margin-bottom: 6px;
    }
  }

  &__list {
    padding-bottom: 0.5rem!important;
    @media (min-width: $mobile-size-land) {
      display: flex;
    }

    @media (min-width: $mobile-size-land) {
      &.navigation__list--inner:last-child {
        margin-left: 4.4rem;
      }
    }
  }

  &__item:not(:first-child) {

    padding-top: 0.5rem;

    @media (min-width: $mobile-size-land) {
      margin-left: 4.4rem;
      padding-top: 0;
    }
  }

  &__link {

    &,
    &:link,
    &:visited {
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 1.25rem;
      font-weight: bold;
      white-space: nowrap;

      @media (min-width: $mobile-size-land) {
        color: $primary-font-color;
      }
    }

    &:hover {
      @media (min-width: $mobile-size-land) {
        color: $tertiary-color;
      }
    }

    &:active,
    &:focus,
    &--active {
      color: $primary-color!important;
    }
  }


  &__toggler {
    display: block;

    background-color: transparent;
    border: 1px solid white;
    border-radius: 3px;
    z-index: 10;

    &-bar1,
    &-bar2,
    &-bar3 {
      display: block;
      width: 35px;
      height: 5px;
      background-color: white;
      margin: 6px 0;
      transition: 0.4s;
    }

    .js-change &-bar1 {
      transform: rotate(-45deg) translate(-9px, 6px);
    }

    .js-change &-bar2 {
      opacity: 0;
    }

    .js-change &-bar3 {
      transform: rotate(45deg) translate(-8px, -8px);
    }

    @media (min-width: $mobile-size-land) {
      display: none;
    }

  }
}
