.video {

  padding-top: 4rem;
  text-align: center;
  border-bottom: 4px solid $tertiary-color;
  //border-top: 4px solid $tertiary-color;


  &__row {
    @media (min-width: $mobile-size-land) {
      display: flex;
      flex-wrap: wrap;
      margin-right: -5px;
      margin-left: -5px;

      margin-bottom: 2rem;
    }
  }


  &__title {
    color: $primary-color;

    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }

  &__item-container {
    margin-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;

    @media (min-width: $mobile-size-land) {
      flex: 0 0 50%;
      max-width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__item-wrapper {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;

    &::before {
      display: block;
      content: "";
      padding-top: 56.25%;
    }
  }

  &__item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  &__action {
    padding-top: 2rem;

    @media (min-width: $mobile-size-land) {
      padding-top: 0;
    }
  }
}
