$primary-color: #832323;
$secondary-color: rgba(219, 95, 95, 0.4);
$tertiary-color: #42A9CA;
$primary-font-color: #236C83;

$mobile-size-land: 576px;
$tablet-size-port: 768px;
$tablet-size-land: 1080px;
$desktop-size: 1200px;
$desktop-large-size: 1400px;
